h1 Skills
ul
- @musician.musician_skills.each do |musician_skill|
  li= "#{musician_skill.skill.title} (#{musician_skill.comment})"
= link_to 'edit profile', edit_musician_path(@musician.id) if policy(@musician).update?
