.index_body {
  background-image: asset_url('index_background.png');
  background-size: cover;
}
#content {
  margin-top: 17rem;
}

.center-text {
  text-align: center;
}

#content {
  background: transparent;
}

.logo_index {
  text-align: center;
  font-size: 6.4rem;
  @include roboto-bold;
  color: #ffffff;
  span {
    @include yellow-font;
  }
}


.info {
  text-align: center;
  color: rgba(255, 255, 255, 0.43);
  @include roboto-light;
}

.info-header {
  font-size: 2.4rem;
}

.info-text {
  margin-top: 11rem;
  font-size: 1.8rem;
}

.login-form {
  width: 30%;
  margin: 7.2rem auto 0;
}

.login-form-text {
  text-align: center;
  font-size: 1.8rem;
  @include roboto-regular;
  color: #cdcdcd;
}

@mixin login-form-control {
  display: block;
  border-radius: 12px;
  outline-style: none;
  background-color: transparent;
  margin: 2.6rem auto 0;
  padding: 13px 33px 13px 33px;
}

.login-form-input {
  @include login-form-control;
  height: 50px;
  border: solid 1px #979797;
  padding: 18px;
  width: 100%;
}

.login-form-input[placeholder] {
  @include roboto-lightItalic;
  color: rgba(255, 255, 255, 0.43);
  font-size: 1.4rem;
}

.login-form-submit {
  @include yellow-font;
  @include login-form-control;
  @include roboto-light;

  border: solid 1px $logo_yellow;
  font-size: 1.4rem;
}

#btn-auth-wrapper {
  text-align: center;
  margin: 90px 0 0 0;
}

.redirect-auth-btn{
  @include yellow-font;
  @include roboto-light;
  padding: 13px 33px 13px 33px;
  border: solid 1px $logo_yellow;
  font-size: 1.4rem;
  border-radius: 12px;
  outline-style: none;
  background-color: transparent;
  &:hover {
    text-decoration: none;
    @include yellow-font;
  }
  &:active {
    text-decoration: none;
  }
  &:nth-of-type(2) {
    margin-left: 40px;
  }
}
